@using PierresSweetAndSavouryTreats.Models
@using System.Security.Claims

@{
  Layout = "_Layout";
}

<h1>@Model.Name</h1>

 @if (!(User.FindFirst(ClaimTypes.NameIdentifier) == null))
  {
    <p>@Html.ActionLink("Add flavor","Add",new{id = @Model.Id})</p>
  }

<hr>
<p>Flavors associated with this treat:</p>
@foreach (FlavorTreat flavortreat in @Model.Flavors)
{
  <div>
  <div class="inline-block"> @Html.ActionLink(flavortreat.Flavor.Name,"Details","Flavors",new {id = flavortreat.Flavor.Id})</div>

  @if (!(User.FindFirst(ClaimTypes.NameIdentifier) == null))
  {
   @using (@Html.BeginForm("Remove", "Treats", new { flavortreatid = flavortreat.Id },FormMethod.Post,false, new {@class="inline"}))
    {
      <input type="submit" value="Remove this flavor from this treat" class="btn btn-danger outline">
    }
  }
  </div>
}

 @if (!(User.FindFirst(ClaimTypes.NameIdentifier) == null))
  {
    <hr>
    <p>@Html.ActionLink("Edit this treat","Edit",new{id = @Model.Id})</p>
    @using (@Html.BeginForm("Delete","Treats",new{id = @Model.Id}))
    {
      <input type="submit" value="Delete this Treat" class="btn btn-danger">
    }
  }


