@using PierresSweetAndSavouryTreats.Models;

@{
  Layout = "_Layout";
}

<p>@Model.Name</p>
<p>@Html.ActionLink("Add Treat","Add",new{id = @Model.Id})</p>

@foreach (FlavorTreat flavortreat in @Model.Treats)
{
  @Html.ActionLink(flavortreat.Treat.Name,"Details","Treats",new {id = flavortreat.Treat.Id})
}

<p>@Html.ActionLink("Edit","Edit",new{id = @Model.Id})</p>
@using (@Html.BeginForm("Delete", "Flavors", new { id = @Model.Id }))
{
  <input type="submit" value="Delete this Flavor">
}
